<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body >
<div class="f-igri-ru-by-html-to">
    <div class="div">
        <div class="background-shadow">

            <div class="list">
                <img class="img" src="../static/assets/images/list.svg" />
                <button class="item-link btn btn-orange btn-sm">ВХОД</button>
                <button class="item-link btn btn-orange btn-sm">РЕГИСТРАЦИЯ</button>
            </div>

            <div class="link-f-logoimage-png"></div>
            <div class="link-hmenu-png"></div>

<!--            <div class="list-2">-->
<!--                <button class="item-link-2">БРАУЗЕРНЫЕ</button>-->
<!--                <button class="item-link-3">ИГРЫ ДЛЯ ТЕЛЕФОНОВ</button>-->
<!--            </div>-->

        </div>


        <div class="overlap">

            <div class="table-body-row">

                <div class="data">
<!--                    <div class="container-3">-->
<!--                        <div class="link-4"><div class="text-wrapper-3">КАТЕГОРИЯ</div></div>-->
<!--                        <div class="dalee-png"></div>-->
<!--                        <div class="link-5"><div class="text-wrapper-4">БРАУЗЕРНЫЕ ИГРЫ</div></div>-->
<!--                    </div>-->
<!--                    <div class="background"><div class="heading">БРАУЗЕРНЫЕ ИГРЫ</div></div>-->

                </div>


                <div class="background-wrapper">
                    <div class="background-26">
                        <div class="background-27"><div class="text-wrapper-46">КАТЕГОРИИ</div></div>
                    </div>
                </div>


            </div>
        </div>

        <div class="overlay">
            <div class="overlap-2">
                <p class="f-igri-ru">
                    <span class="span">Флеш игры - f-igri.ru © 2024 | </span>
                    <button class="text-wrapper-56">Обратная связь</button>
                    <span class="span"> | </span>
                    <button class="text-wrapper-56">Вопросы и ответы</button>
                    <span class="span"> | </span>
                    <button class="text-wrapper-56">Privacy Policy</button>
                    <span class="span">&nbsp;</span>
                </p>
            </div>
            <div class="pegi-png"></div>
        </div>
    </div>
</div>
</body>
</html>
